.container {
    margin-top: 20px;
}

.on {
    --color: #0c2;
}

.off {
    --color: #cc0029;
}

.button {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    padding: 5px 15px;

    background-color: var(--color);

    border-radius: 15px;
    border: 1px solid black;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: var(--color);

    border-radius: 15px;
    border: 1px solid black;
}